$bg-img: url('https://wallpapersite.com/images/pages/pic_w/5505.jpg');
$bg-size: 100%;

$cont-width: 100%;
$cont-height: 100%;
$cont-margin: 0;
$cont-padding: 0;
$cont-column: column;

$btn-color:white;

$opacityhover: 0.3;
$filterhover: alpha(opacty=30);

$img-width: 9em;
$img-margin: 0.3em;
$img-border-radius: 100%;